<% layout('layouts/boilerplate') -%>
<main class="container mt-5">
  <div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
      <form
        action="/campgrounds"
        method="post"
        novalidate
        class="validated-form"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="campground[title]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the title</div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Location</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="campground[location]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide a valid location</div>
        </div>
        <div class="mb-3">
          <label class="mb-2" for="image">Images</label>
          <input
            class="form-control"
            id="image"
            type="file"
            name="image"
            multiple
          />
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <div class="input-group mb-3">
            <span class="input-group-text">$</span>
            <input
              class="form-control"
              type="text"
              id="price"
              name="campground[price]"
              placeholder="0.00"
              required
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please provide the price</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-control"
            type="text"
            id="description"
            name="campground[description]"
            required
          ></textarea>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Please provide the description</div>
        </div>
        <div class="mb-3">
          <button class="btn btn-success" type="submit">Add Campground</button>
        </div>
      </form>
    </div>
  </div>
</main>
